# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_EXTERNAL_ENDPOINT=localhost:9000
MINIO_SECURE=false
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=hotel-booking-raw
MINIO_RAW_OBJECT_KEY=hotel_booking_demand/hotel_bookings.csv

# StarRocks
STARROCKS_HOST=starrocks
STARROCKS_EXTERNAL_HOST=127.0.0.1
STARROCKS_QUERY_PORT=9030
STARROCKS_EXTERNAL_QUERY_PORT=9030
STARROCKS_HTTP_PORT=8030
STARROCKS_EXTERNAL_HTTP_PORT=8030
STARROCKS_USER=root
STARROCKS_PASSWORD=
STARROCKS_CATALOG=default_catalog
STARROCKS_DATABASE=hotel_booking
STARROCKS_RAW_TABLE=raw_hotel_bookings

# Airflow
AIRFLOW_UID=50000
AIRFLOW_WEB_PORT=8080
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__PARALLELISM=2
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=1
AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=1

# Superset
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=change-me-for-local-dev
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_STARROCKS_SQLALCHEMY_URI=starrocks://root:@starrocks:9030/default_catalog.hotel_booking

# dbt profile
DBT_PROJECT_DIR=/opt/airflow/dbt/hotel_booking
DBT_PROFILES_DIR=/opt/airflow/dbt/hotel_booking
DBT_TARGET=dev
DBT_THREADS=1
