# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_EXTERNAL_ENDPOINT=localhost:9000
MINIO_SECURE=false
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=hotel-booking-raw
MINIO_RAW_OBJECT_KEY=hotel_booking_demand/hotel_bookings.csv
MINIO_BATCH_PREFIX=hotel_booking_demand/incremental_batches
MINIO_WAREHOUSE_BUCKET=warehouse
MINIO_ENDPOINT_URL=http://minio:9000
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

# Iceberg
ICEBERG_REST_URI=http://iceberg-rest:8181
ICEBERG_REST_PORT=8181
ICEBERG_CATALOG_NAME=iceberg_catalog
ICEBERG_DATABASE=hotel_booking_lakehouse
ICEBERG_RAW_HISTORY_TABLE=raw_hotel_bookings_history
ICEBERG_WAREHOUSE=s3://warehouse/
ICEBERG_SILVER_DATABASE=hotel_booking_silver
ICEBERG_SILVER_DEDUPED_TABLE=deduped_hotel_bookings
ICEBERG_SILVER_VERSIONS_TABLE=hotel_booking_versions
ICEBERG_SILVER_CURRENT_TABLE=current_hotel_bookings
ICEBERG_SILVER_METRICS_TABLE=booking_metrics

# Spark local ingestion inside Airflow
SPARK_MASTER=local[1]
SPARK_DRIVER_MEMORY=768m
SPARK_EXECUTOR_MEMORY=768m
SPARK_SQL_SHUFFLE_PARTITIONS=4

# StarRocks
STARROCKS_HOST=starrocks
STARROCKS_EXTERNAL_HOST=127.0.0.1
STARROCKS_QUERY_PORT=9030
STARROCKS_EXTERNAL_QUERY_PORT=9030
STARROCKS_HTTP_PORT=8030
STARROCKS_EXTERNAL_HTTP_PORT=8030
STARROCKS_USER=root
STARROCKS_PASSWORD=
STARROCKS_CATALOG=default_catalog
STARROCKS_DATABASE=hotel_booking
# Legacy direct StarRocks raw-load script only. Primary MVP flow uses Iceberg raw history.
STARROCKS_RAW_TABLE=raw_hotel_bookings

# Airflow
AIRFLOW_UID=50000
AIRFLOW_WEB_PORT=8080
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__PARALLELISM=2
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=1
AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=1

# Superset
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=change-me-for-local-dev
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_STARROCKS_SQLALCHEMY_URI=starrocks://root:@starrocks:9030/default_catalog.hotel_booking
SUPERSET_STARROCKS_DATABASE_NAME=StarRocks Hotel Booking
SUPERSET_STARROCKS_SCHEMA=hotel_booking
SUPERSET_DASHBOARD_TITLE=Hotel Booking BI Dashboard
SUPERSET_DASHBOARD_SLUG=hotel-booking-bi-dashboard

# dbt profile
DBT_PROJECT_DIR=/opt/airflow/dbt/hotel_booking
DBT_PROFILES_DIR=/opt/airflow/dbt/hotel_booking
DBT_TARGET=dev
DBT_THREADS=1
